<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Attendance App", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Top",   '#' %></li>
        <li><%= link_to "ユーザー一覧", '#' %></li>
        <li><%= link_to "出勤社員一覧ページ", '#' %></li>
        <li><%= link_to "拠点情報の修正ページ", '#' %></li>
        <li><%= link_to "基本情報の修正ページ", '#' %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>